body{margin: 0; font-family: 'NanumSquareACR';}
#naver{width: 1300px; margin: 0 auto; position: relative;
    /* border: 1px solid red; */
}
#header{
    margin-top: 10px;
}
#container{
    margin-top: 15px;
    display: flex;
}
#footer{
    height: 380px;
    background-color: cyan;
}
#naver_menu{
    display: flex;
    justify-content: space-between;
}
.logo{
    /* border: 1px solid red; */
    height: 40px;
    width: 40px;
}
.logo:hover{
    cursor: pointer;
}
#menu, #pay{margin-right: 10px;}
#alarm, #talk, #shopping_bag{margin-left: 10px;}
#search{
    width: 706px;
    margin: 0 auto;
    /* height: 100px; */
    overflow:visible;
    border-radius: 10px;
}
#search_box1 {
    width: 690px;
    height:43px;
    padding: 8px;
    border: 1px solid #03C75A;
    border-radius: 50px;
    background-color: white;
}
#search_box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    color: gray;
    width: 676px;
    padding: 15px;
    border: 1px solid white;
    border-top: 1px solid lightgray;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}
#autoText{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.autoSection{
    font-size: 13px;
}
.autoSection:hover{
    cursor: pointer;
}
.dot{
    border-radius: 15px;
    background-color: #CCC;
    margin: 0px 5px;
}
form{
    display: flex;
    align-items: center;
}
#search_text{
    width: 500px;
    height: 43px;
    border : none;
    font-size: 20px;
}
.search_logo{
    margin-left: 10px;
    margin-right: 10px;
    height: 43px;
    width: 43px;
}
#search_submit{
    background-image: url(../image/Logo_search2.png);
    background-size: cover;
    border: none;
    background-color: white;
}
#search_submit:hover{
    cursor: pointer;
}
#search_text::placeholder{
    color: white;
}
#search_text:focus{
    outline: none;
}
#search_text:focus::placeholder{
    color:#ddd;
}
#keyboardpop{
    background-image: url('../image/keyboard.png');
    background-size: cover;
    border: none;
    background-color: white;
}
input[type="button"]{
    cursor: pointer;
}
.keyboard{
    display: none;
    z-index: 99; /*제일 앞에 보이도록*/
    position: absolute;
    width: 400px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: #333;
    background: #ddd;
    cursor: move;
}
#keyboardpop:hover{
    background-image: url(../image/keyboard2.png);
}
#search_box1:hover{
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

#box2Btn:hover{
    cursor: pointer;
}
#close{
    margin-right: 10px;
    float: right;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width:670px;
}
.things{
    font-size: 13px;
    text-align: center;
}
.things:hover{
    cursor: pointer;
}
.things_img{
    margin: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.things_img:hover{
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.section{
    background-color: gray;
    margin: 15px;
}
.section>div{
    background-color:dodgerblue;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 8px;
    border:1px solid lightgray;
}
#section1{
    width:830px;
}
#section2{
    width:420px;
}
.boxTitle{
    display: flex;
    align-items: center;
}
.titleSection{
    color: gray;
    font-family: 'NanumBarunGothicBold';
    font-size: 16px;
}
.titleSection:hover{
    cursor: pointer;
    text-decoration: underline;
}
.boxtitle .selected{
    color: black;
}
.boxTitle > span{
    margin: 0px 3px;
}
.boxnav{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 20px;
    width: 750px;
    height: 10px;
    background-color: #f6f6f6;
    border-radius: 3px;
}
.boxnav > div{
    display: flex;
    align-items: center;
}
.boxnav .items{
    color:black;
    margin: 0px 3px;
}
#newsname{
    overflow: hidden;
}
#ad1{
    height: 130px;
}
#news{
    height: 430px;
    background-color: white;
}
#news > .contents{
    height: 330px;
}
.contents{
    padding: 20px;
}
.boxitem{
    margin-bottom: 20px;
}
#Mediatable{
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
}
table{
    border-collapse: collapse;
    border-style: hidden;
}
td{
    width: 130px;
    height: 55px;
    word-break:break-all;
    font-size: 13px;
    border: 1px solid lightgray;
    background-color:royalblue;
    color: darkgray;
    background-image: url(../image/로고.png);
    background-size: cover;
}
td > .Medias{
    margin: 0 auto;
    width: 90px;
    height: 15px;
    /* margin: 20px auto; */
    visibility: hidden;
}
td:hover{
    background-image: none;
}
td:hover > .Medias{
    visibility: visible;
}
.links{
    text-decoration: none;
}
.links:hover{
    cursor: pointer;
    text-decoration: underline;
}
.Medias > .items{
    color: white;
}
.Medias > .items:hover{
    font-family: 'NanumSquareACB';
}
.nextpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: 1px solid lightgray;
}
.arrowbox{
    text-align: center;
    padding: 8px;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid lightgray;
}
.arrowbox:hover{
    background-color: #f9f9f9;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#pagetext{
    text-align: center;
    font-size: 13px;
    margin: 33px;
    font-weight: 300;
}
#news .pagename{
    color:blue;
}
#shopping{
    height: 560px;
    background-color: white;
}
#shopping .pagename{
    color:purple;
}
#shopping > .contents{
    height: 460px;
}
#shoppingcontents{
    display: flex;
    width: 790px;
    height: 360px;
}
#shoppingleft{
    margin-right: 20px;
    width: 250px;
    height: 360px;
}
#shoppingleft > .backcolor{
    background-color: #EEE;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 10px;
}
#sLeft1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
}
#sLeft1 a{
    color: black;
}
#sLeft1 > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
#sLeft1 .dot{
    width: 3px;
    height: 3px;
}
#sLeft2{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
#sLeft2 > a{
    color: black;
    width: 52px;
    height: 52px;
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#sLeft2 .box{
    border-radius: 30px;
    background-color: white;
    border: 1px solid lightgray;
    width: 30px;
    height: 30px;
}
#sLeft3{
    text-align: center;
}
#sLeft3:hover img{
    transition: 0.3s;
    transform:scale(1.1, 1.1);
}
#shoppingAD{
    height: 144px;
    overflow: hidden;
}
#adtext{
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
    color: black;
}
#shoppingright{
    width: 520px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.SrightAD{
    width: 98px;
    font-size: 13px;
    line-height: 150%;
    color: black;
    text-decoration: none;
}
.ADimg{
    width: 98px;
    height: 126px;
    overflow: hidden;
}
.ADimg > img{
    width: 98px;
    height: 126px;;
}
.SrightAD:hover img{
    transition: 0.3s;
    transform: scale(1.1, 1.1);
}
#shoppingeffect{
    display: flex;
    text-decoration: none;
}
#Srighttext{
    text-wrap: wrap;
}
#hobby{
    background-color: white;
}
#hobby .contents{
    position: relative;
}
.hobbybtn{
    border-radius: 20px;
    padding: 10px 12px;
    border: 1px solid lightgray;
    background-color: white;
    color: black;
}
.hobbybtn:hover{
    cursor: pointer;
}
#hobbynav .selected{
    font-family: 'NanumBarunGothicBold';
    background-color: blue;
    color: white;
} 
#hobbycontents{
    height: 625px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.hobbyitem{
    width: 183px;
    height: 200px;
    text-decoration: none;
    color: black;
}
.hobbyimgbox{
    width: 183px;
    height: 120px;
    overflow: hidden;
}
.hobbyimgbox > img{
    width: 183px;
}
.hobbytext{
    text-wrap: wrap;
    margin: 8px 0px;
    font-size: 14px;
    line-height: 150%;
}
.hobbywriter{
    color: gray;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.hobbywriter > img{
    border-radius: 30px;
    margin-right: 5px;
}
#hcontentsTitle{
    font-family: 'NanumBarunGothicBold';
    margin-bottom: 20px;
}
#hcontentsbox{
    display: flex;
    justify-content: space-between;
    height: 235px;
    margin-bottom: 0px;
}
#hcontentsbox video,#hcontentsbox img{
    width:108px;
}
#hcontentsbox a {
    display: block;
    width: 108px;
}
.imagebox{
    position: relative; 
    width: 108px;
    height: 156px;
    overflow: hidden;
    border-radius: 3px;
}
.textbox{
    font-size: 14px;
    color: black;
    text-wrap: wrap;
    margin: 10px 0px;
}
.writer{
    font-size: 13px;
    color: gray;
}
.linkshover{
    text-decoration: none;
}
.linkshover:hover .linksaction{
    text-decoration: underline;
}
.linkshover:hover .imageaction{
    transition: 0.3s;
    transform: scale(1.1, 1.1);
}
#nextbtn{
    bottom: 160px;
    right: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 30px;
    right: 0px;
    width: 35px;
    height: 35px;
    background-color: white;
}
#nextbtn:hover{
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(146, 146, 146, 0.1);
}
#open{
    border-top: 1px solid lightgray;
    text-align: center;
    padding: 20px;
}
#open:hover{
    cursor: pointer;
}
#login{
    font-size: 14px;
    padding: 20px;
    text-align: center;
    height: 120px;
    background-color: white;
}
#loginBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #03C75A;
    margin: 15px auto;
    width: 380px;
    height: 56px;
}
#loginBtn:hover{
    cursor: pointer;
    background-color:#00b752;
}
#NAVERLogo{
    margin: 5px;
    width: 75px;
    height: 15px;
}
#loginText{
    font-size: 14px;
    width: 45px;
    height: 15px;
}
#FindAndJoin{
    color: lightgray;
}
.linktext{
    color: #555;
    text-decoration: none;
}
.linktext:hover{
    text-decoration: underline;
}
#ad2{
    height: 240px;
}
.titles{
    font-family: 'NanumBarunGothicBold';
}
#weather{
    padding: 15px;
    height: 210px;
    background-color: white;
}
#weather > .weathertitle{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weathertitle a{
    color: black;
    text-decoration: none;
}
#weathercompare{
    margin-left: 5px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 11px;
    width: 60px;
    height: 10px;
    padding: 7px;
}
#weathercompare img{
    margin-right: 3px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 30px;
}
#boxaddress{
    font-size: 13px;
    color: gray;
}
#weather > #weathercontents{
    background-color: gray;
    height: 150px;
}
#stock{
    height: 230px;
}
#ad3{
    height: 80px;
}
#widget{
    height: 800px;
}
#ad4{
    height: 80px;
}